body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Используем min-height для правильного отображения */
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

.player-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  max-width: 100%; /* Убедимся, что контейнер не выходит за пределы экрана */
  box-sizing: border-box; /* Для правильных расчетов ширины и отступов */
}

#songTitle {
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
  font-size: 20px;
  white-space: nowrap; /* Предотвращаем перенос текста */
  overflow: hidden; /* Скрываем текст, который не помещается */
  text-overflow: ellipsis; /* Добавляем троеточие для длинных названий */
}

.song-info {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}

.progress-bar-container {
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

#progressBar {
  height: 100%;
  width: 0%;
  background-color: #007BFF;
  border-radius: 5px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  flex-grow: 1; /* Кнопки будут расширяться, чтобы занять доступное место */
}

button:hover {
  background-color: #0056b3;
}

.volume-control {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-grow: 2;
}

.volume-control button {
  padding: 5px 10px;
  font-size: 14px;
}

#volumePercentage {
  font-size: 16px;
  color: #333;
  width: 50px;
  text-align: center;
  flex-shrink: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100px;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  cursor: pointer;
  flex-grow: 3;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: #007BFF;
  border-radius: 50%;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: #007BFF;
  border-radius: 50%;
  cursor: pointer;
}

@media (max-width: 480px) {
  .player-controls {
    flex-direction: column;
  }
  
  .player-controls button {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .volume-control {
    width: 100%;
    justify-content: space-between;
  }
  
  input[type="range"] {
    width: 100%;
  }
}